{% extends "instrument/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<form action="" method="POST" autocomplete="off">

    {% csrf_token %}
    <div class="row">
        <div class="col-md-8">
            {{form.mastername|as_crispy_field}}
        </div>
        <div class="col-md-4">
            {{form.make|as_crispy_field}}
        </div>
        <div class="col-md-4">
            {{form.model|as_crispy_field}}
        </div>
        <div class="col-md-4">
            {{form.rng|as_crispy_field}}
        </div>
        <div class="col-md-4">
            {{form.leastcount|as_crispy_field}}
        </div>
        <div class="col-md-4">
            {{form.uncertainity|as_crispy_field}}
        </div>
        <div class="col-md-4">
            {{form.idno|as_crispy_field}}
        </div>
        <div class="col-md-4">
            {{form.srno|as_crispy_field}}
        </div>
        <div class="col-md-4">
            {{form.calibrationdate|as_crispy_field}}
        </div>
        <div class="col-md-4">
            {{form.calibrationduedate|as_crispy_field}}
        </div>
        <div class="col-md-4">
            {{form.lab|as_crispy_field}}
        </div>
        <div class="col-md-12">
            {{form.certificateno|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg" style="background-color: lightskyblue;">
                Submit</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'master_list' %}" class="btn btn-secondary btn-block btn-lg" style="background-color: lightslategrey;">
                 Back to list
            </a>
        </div>
    </div>
        
    

</form>
{% endblock content %}
